[DEFAULT]
ConnectionType=initiator
StartTime=00:00:00
EndTime=23:59:59
FileStorePath=state/flappy_session/initiator
FileLogPath=logs/flappy_session/initiator
FileIncludeTimeStampForMessages=Y
FileIncludeMilliseconds=Y
UseDataDictionary=Y
DataDictionary=FIX44.xml
ValidateUserDefinedFields=N

SocketConnectHost=127.0.0.1
SocketConnectPort=9876
HeartBtInt=30
ReconnectInterval=5

# For this scenario we want each new logon to begin from seqnum=1
ResetOnLogon=Y
ResetOnDisconnect=Y
ResetOnLogout=Y

[SESSION]
BeginString=FIX.4.4
SenderCompID=TRADER
TargetCompID=VENUE

